<div class="banner" id="biologie">
  <h1 class="main-title">BIOLOGIE</h1>
</div>
<div class="section-bio">
  <div class="sub-section">
    <h2>1. LA BIOLOGIE VEGETALE</h2>
    <hr class="sep separateur-xl">
    <h3>1.1.  Comportement des baguettes vis à vis des arbres</h3>
    <hr class="sep separateur-l">
    <h4>1.1.1.  Montée de la sève </h4>
    <hr class="sep separateur-xs">
    <p>
      Les baguettes s’écartent lorsque l’on s’approche à D=50cm d’un jeune arbre pourvu de feuilles. On a constaté aussi qu’il était nécessaire de s’en rapprocher davantage la nuit pour retrouver le même signal. <br>
      En automne, on peut suivre la diminution de D au cours du jaunissement des feuilles de cet arbre et sa valeur zéro lorsque toutes les feuilles sont tombées, les baguettes ne répondant plus. Inversement la distance D augmente rapidement avec la naissance des fleurs d’un Prunus. Il est de 10cm aux premières fleurs et passe rapidement à 70cm une semaine après. <br>
      Les ouvrages de botanique indiquent qu’il existe deux types de sève : une sève montante riche en eau qui s’évapore par les feuilles, et une sève descendante beaucoup moins riche en eau. Lorsque les feuilles sont tombées, les deux sèves s’arrêtent pour reprendre leur trajet au printemps. <br>
      La photosynthèse qui est réduite la nuit joue un rôle essentiel au niveau de la montée de la sève.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig_1.WebP' %>
    </div>
    <p>
      Le signal des baguettes est identique à celui que l’on observe quand on se trouve en face d’une conduite verticale lorsque l’eau monte. Les baguettes indiquent donc la montée de la sève riche en eau. Elles sont inactives devant un arbre mort.
    </p>
    <h4>1.1.2.  Influence de la présence d’une conduite d’eau sur la végétation</h4>
    <hr class="sep separateur-xs">
    <p>
      L’arbre n’aime pas que l’eau circule sous ses pieds, et il le fait savoir. <br>
      Une atténuation localisée de la hauteur de la végétation dans une bordure a été observée à l’endroit précis où passe une conduite d’eau qui est à 5m de profondeur.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig_2.WebP' %>
    </div>
    <p>
      Le tronc d’un tilleul est profondément modifié par le passage de l’eau sous ses pieds. Il en est de même pour un arbre tordu au bord du Canal.
    </p>
    <p>
      On constate également qu’une veine d’eau passe souvent sous un arbres « cancéreux » ou présentant deux troncs en V.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig_3.WebP' %>
    </div>
    <h3>1.2.  Comportement des baguettes vis à vis des fruits</h3>
    <hr class="sep separateur-l">
    <h4>1.2.1.  Triboélectricité</h4>
    <hr class="sep separateur-xs">
    <p>
      J’ai constaté avec surprise que certains fruits donnaient un signal radiesthésique lorsqu’on les approchait avec les baguettes en L, et d’autres non. On peut les ranger dans trois catégories. <br>
      La première réunit des fruits comme les pommes Chanteclair et Golden, la clémentine. Lorsque l’on s’en approche frontalement, les baguettes en L s’ouvrent, si l’on s’en approche tangentiellement les deux baguettes s’écartent du fruit (opposition) ; elles se croisent si l’on se place au-dessus. <br>
      Dans la deuxième catégorie, on trouve les pommes Pink Lady et Cainta, la grenade qui donnent les signaux inverses : les baguettes se croisent quand on les approche frontalement et se dirigent vers les fruits lorsqu’on les approche tangentiellement (attraction). <br>
      Les fruits de ces deux catégories ne donnent plus de signal lorsqu’ils sont coupés ou pelés même légèrement. <br>
      La dernière catégorie réunit les fruits qui ne donnent pas de signal comme l’avocat, le pamplemousse, la tomate, la rainette du Canada. Cependant, ces fruits une fois coupés ou pelés légèrement entrent dans l’une des deux catégories précédentes : la tomate coupée se comporte comme la grenade alors que le pamplemousse coupé se comporte comme la Chanteclair.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig_4.WebP' %>
    </div>
    <p>
      Orientation des baguettes lors d’une approche tangentielle
    </p>
    <p>
      J’ai constaté que les constituants du troisième groupe, tel la tomate, frottés avec une tige de verre ne génèrent pas de charges triboélectriques, alors que ceux du premier et du deuxième groupe le font. Les charges triboélectriques sont mises en évidence par l’attirance de petits papiers très fins par la tige de verre. L’électroscope indique que les charges des catégories 1 et 2 sont opposées.
    </p>
    <p>
      Si l’on place une rainette (cat 3) devant une pièce de 1€, on constate que les baguettes ne répondent pas au-dessus de la pomme ni au voisinage de la pièce. La rainette se comporte donc comme un inhibiteur du signal de la pièce.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig_5.WebP' %>
    </div>
    <p>
      Si maintenant la rainette est pelée ou coupée, les baguettes s’écartent. Elle entre alors dans la catégorie 1, devient alors génératrice de charges triboélectriques et perd son caractère inhibiteur.
    </p>
    <p>
      La Chanteclair (cat 1) n’a pas de caractère inhibiteur vis-à-vis de la pièce de 1 € qui est détectable. En revanche si la pomme est frottée par un tissu, elle devient inhibitrice. Il en est de même pour les fruits de la catégorie 2.
    </p>
    <p>
      Globalement on constate que les fruits des catégories 1 et 2 se comportent vis-à-vis des baguettes comme des conducteurs (cf. électricité 4.2.2.): celles-ci se croisent au-dessus d’une tige de verre frottée par les fruits de la catégorique 1 et s’ouvrent dans le cas des fruits de catégorie 2. Dans les deux cas, après frottement, on observe le changement d’orientation des baguettes au-dessus de la tige de verre si l’on touche le fruit.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig_6.WebP'  %>
    </div>
    <h4>1.2.2.  Limites de détection, règle des témoins</h4>
    <hr class="sep separateur-xs">
    <p>
      La distance à partir de laquelle un fruit peut être détecté dépend de sa fraicheur. Une Chanteclair achetée aujourd’hui est détectable à une distance de 70cm, distance qui passera à 20cm dans une semaine. <br>
      La règle des témoins permet de vérifier si deux fruits sont de la même espèce.  Quand on rapproche deux Pink Lady (cat 2), qui seules attirent les baguettes, on constate que leur orientation entre les deux pommes change jusqu’à une distance de détection qui est le double de celle correspondant à la pomme seule. <br>
      Si l’on fait la même expérience avec deux Chanteclair (cat 1) qui isolées repoussent les baguettes, on retrouve leur signal entre les deux pommes à partir du moment où l’espace les séparant est inférieur au double de la distance de détection de la pomme isolée. <br>
      Si maintenant on met en face deux pommes d’espèces différentes appartenant à la catégorie 1 ou 2, les baguettes ne réagissent pas. <br>
      On peut donc utiliser cette méthode pour rechercher une Chanteclair dans un ensemble de pommes d’origines diverses lui ressemblant en utilisant une Chanteclair comme témoin. <br>
      Par ailleurs on peut noter qu’un fruit comme la pomme peut se retrouver selon les espèces dans les trois catégories.
    </p>
    <h4>1.2.3.  Influence de la symétrie</h4>
    <hr class="sep separateur-xs">
    <p>
      J’ai constaté qu’une banane donnait trois signaux à angle droit qui s’inversent lorsque sa position dans le plan tourne de 180°; la distance D est égale à 2,0m lorsque le fruit n’est pas mûr et tombe à 0,3m lorsqu’il est très mûr au bout de 15 jours.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig_7.WebP'  %>
    </div>
    <p>
      Les baguettes ne répondent plus lorsque l’on enlève la peau.
    </p>
    <p>
      Il y a interaction entre deux bananes issues du même lot, séparées de Dm=4m, uniquement lorsqu’elles sont dans une position symétrique.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig_8.WebP'  %>
    </div>
    <h3>1.3.  Comportement des baguettes vis à vis des légumes</h3>
    <hr class="sep separateur-l">
    <p>
      ll est possible de ranger  les légumes dans les trois  catégories définies pour les fruits. Quelques exemples sont rassemblés dans le tableau suivant.
    </p>
    <div class="image">
      <%= image_tag 'bio-fig_9.WebP'  %>
    </div>
    <p>
      Les similitudes de comportement avec les fruits appartenant à la même catégorie sont bien mises en évidence.  Par exemple, l’amandine non coupée est inhibitrice vis-à-vis du signal d’une pièce de 1€ comme la pomme rainette, alors que coupée elle ne l’est plus. Coupée puis frottée sur une tige de verre, elle se comporte comme une tomate coupée ou une Calville vis-à-vis des baguettes qui s’ouvrent.
    </p>
    <h3>1.4.  Comportement des baguettes vis à vis des fleurs</h3>
    <hr class="sep separateur-l">
    <h4>1.4.1.  Classification</h4>
    <hr class="sep separateur-xs">
    <p>
      Comme dans le cas des fruits et des légumes, il est possible de ranger les fleurs dans les trois catégories précédentes
    </p>
    <div class="image">
      <%= image_tag 'bio-fig_10.WebP'  %>
    </div>
    <div class="image">
      <%= image_tag 'bio-fig_11.WebP'  %>
    </div>
    <h4>1.4.2.  Caractéristiques du signal</h4>
    <hr class="sep separateur-xs">
    <p>
      Le signal apparait lorsque la fleur est bien ouverte. La distance d’approche de la fleur diminue avec son vieillissement et s’annule lorsque la fleur est fanée. <br>
      Elle diminue également lorsque la lumière baisse:  pour une orchidée placée dans une pièce éclairée la distance d’approche est égale à 1,2m ; cette distance passe à 0,5m en fin de journée pour s’annuler complétement la nuit. L’éclairage électrique modéré de la pièce fait réapparaitre un signal de 0,2m. <br>
      Il faut noter aussi qu’une fleur cueillie ne donne plus de signal.
    </p>
    <p>
      Je pense que le signal des fleurs est directement lié à leurs propriétés triboélectriques. <br>
      - Si l’on frotte l’orchidée avec un mouchoir, les baguettes se croisent au niveau du mouchoir, indiquant un échange de charges électrostatiques et la charge positive de l’orchidée. <br>
      - Si l’on fait la même expérience avec une Pensée, on observe les signaux inverses: les baguettes s’écartent au-dessus d’un mouchoir après frottement, la fleur étant alors négative.
    </p>
    <h4>1.4.3.  Interaction entre les fleurs</h4>
    <hr class="sep separateur-xs">
    <p>
      Comme pour les fruits et les légumes de la catégories 1 et 2, la règle des témoins permet de vérifier si deux fleurs sont de la même espèce. <br>
      Quand on rapproche deux Pensées (cat 2), qui isolées attirent les baguettes, on constate que leur orientation entre les deux fleurs change à partir du moment où la distance les séparant est inférieure au double de la distance de détection de la fleur seule. <br>
      Si l’on fait la même expérience avec deux géranium (cat 2) qui isolées repoussent les baguettes, on retrouve leur signal entre les deux fleurs à partir du moment où l’espace les séparant est inférieur au double de la distance de détection de la fleur isolée.SI cet espace est supérieur, le signal disparait lorsque l’on se place à mi-distance des deux fleurs. <br>
      Si maintenant on met en face deux fleurs d’espèces différentes appartenant à la catégorie 1 ou 2, les baguettes ne réagissent pas.
    </p>
    <h3>1.5.  Conclusion</h3>
    <hr class="sep separateur-l">
    <p>
      Il ressort de cette étude deux constatations importantes. <br>
      <ul>
        <li>
          La première concerne l’aptitude que présentent les baguettes pour discerner les cibles qui relèvent du vivant. Contrairement à ce qui est observé dans le cas des solutions et des matériaux déjà examinés, on constate que la distance d’approche du végétal examiné varie avec le temps, par exemple lors de la montée de la sève dans les arbres ou lors du murissement d’un fruit pour s’annuler lorsqu’un arbre est mort ou qu’une fleur est coupée.
        </li>
        <li>
          La deuxième constatation concerne le fait que fruits, légumes et fleurs se rangent tous dans trois catégories, la première rassemble les cibles qui repoussent les baguettes, la deuxième celles qui les attirent, et la troisième celles qui les ignorent.
        </li>
      </ul>
      Les premières analyses de ces phénomènes indiquent que cette classification est liée aux charges triboélectriques portées par les cibles. La catégorie 3 rassemble les cibles dépourvues de charges triboélectriques. Ce sont souvent des fruits et légumes à peau lisse ou épaisse comme les pamplemousses, les tomates, les aubergines. Elles se comportent comme inhibitrice des signaux générés par d’autres cibles, végétales ou non, mais perdent cette aptitude à partir du moment où elles sont coupées ou pelées.
    </p>
    <p>
      Les deux autres catégories ont des polarités inversées. Elles deviennent inhibitrices de signaux radiesthésistes lorsqu’elles sont frottées par un tissu. Leur charge électrique est alors nulle.
    </p>
    <p>
      Des échanges avec les biologistes sont envisagés pour connaitre le rôle des phénomènes électriques sur la vie d’un végétal et préciser les facteurs qui déterminent sa place dans l’une des trois catégories.
    </p>





    <h2>2.  LA BIOLOGIE ANIMALE</h2>
    <hr class="sep separateur-xl">

    <h3>2.1.  </h3>
    <hr class="sep separateur-l">

    <h4>2.1.1  </h4>
    <hr class="sep separateur-xs">

    <div class="image">
      <%= image_tag 'bio-fig_.WebP' %>
    </div>

  </div>
</div>


